.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-bottom: 98px;
  }
  
  .pagination-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width:32px;
    height: 32px;
    background-color: #fff;
    border: solid 1px #d9d9d9;
    cursor: pointer;
    margin-right: 8px;
    border-radius: 6px;
    font-size:14px;
    
  }
  .pagination-item a{
    display: flex;
    justify-content: center;
    align-items: center;
    width:32px;
    height:32px;
    color:rgba(0, 0, 0, 0.65);
    border-radius: 6px;
  }
  .pagination-item--active a {
    color:white;
    background-color: #1890ff;
    
  }
  